



<form action="/cram">
   
   <% @vars.each do |x| %>
   <%= x %>
   <input type="text" name=<%= x %>>
   <% end %>
   <br>
   <br>
   <button type="submit">Submit</button>
   <input type="hidden" name="table" value= "<%= @table %>">
</form>
  