
 


<p>Please select an option below:</p>
<br>
<form action="/next">
  <input type="radio" name="option" value="add">Add New Entry
  <br>
  <input type="radio" name="option" value="edit">Edit Entry
  <br>
  <input type="radio" name="option" value="delete">Delete Entry
  <br>
  <br>
  <button type="submit">Submit</button> 
</form>
